<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja Page2</title>
</head>
<body>
    <center>
        <h1>Welcome To </h1>
        <h1> Jinja If Else Condition </h1>
        <h1> For Looping </h1>
        <h1> URL Navigation </h1>
        
        <!-- IF CONDITION -->

        <!-- {% if A > B %}
            <h1>If Block</h1>
            <h1>A is Highest {{A}}</h1>

        {% else %}
            <h1>Else Block</h1>
            <h1>B is Highest {{B}}</h1>
        {% endif %} -->



        <!-- IF_ELIF_ELSE CONDITION -->

        <!-- {% if A > B and A > C %}
            <h1>If Block</h1>
            <h1>A Is Highest {{A}}</h1>

        {% elif B > C %}
            <h1>Elif Block</h1>
            <h1>B Is Highest {{B}}</h1>
        
        {% else %}
            <h1>Else Block</h1>
            <h1>C Is Highest {{C}}</h1>
        {% endif %} -->



        <!-- NASTED IF_ELSE_CONDITION -->

        <!-- {% if A > B %}
            {% if A > C %}
                <h1>If Block</h1>
                <h1>A Is Highest {{A}}</h1>
            {% else %}
                <h1>Else Block</h1>
                <h1>C Is Highest {{C}}</h1>
            {% endif %}

        {% else %}
            {% if B > C %}
                <h1>If Block</h1>
                <h1>B is Highest {{B}}</h1>
            {% else %}
                <h1>Else Block</h1>
                <h1>C Is Highest {{C}}</h1>
            {% endif %}
        {% endif %} -->


        <!-- FOR LOOP -->
        
        {% for i in name %}
            <h1>{{i}}</h1>
        {% endfor %}

        <a href="{% url 'data_render' %}"><button style="background-color: black; color:white; height: 30px;width: 110px; border-radius:20px;">Data_Render</button></a>
    </center>
</body>
</html>